
@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>

@using System.Linq

@using DotNetNuke.Common

@using DotNetNuke.Entities.Portals

@using DotNetNuke.Entities.Users

@using NBrightCore.common

@using NBrightDNN

@using Nevoweb.DNN.NBrightBuy.Components



@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightSystemPay/App_LocalResources")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<div class="form-horizontal dnnForm">

    <input id="itemid" type="hidden" value="@info.ItemID" />
    <input id="uilang" type="hidden" value="@Model.Lang" />
    <input id="nextlang" type="hidden" value="@Model.Lang" />

    <div class="row">

        <div class="form-group">

            <div class="col-sm-2"></div>

            <div class="col-sm-5">

                <h3>@ResourceKey("syspayPayment.checkoutdisplay")</h3>

            </div>

        </div>



        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("syspayPayment.Title")</label>

            <div class="col-sm-5">

                @NBrightTextBox(info, "genxml/lang/genxml/textbox/title", "maxlength='150'", ResourceKey("syspayPayment.Titlevalue", info.Lang).ToString())

            </div>

        </div>



        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("syspayPayment.Message")</label>

            <div class="col-sm-5">

                @NBrightTextArea(info, "genxml/lang/genxml/textbox/message", "height='100' maxlength='200' textmode='MultiLine' ", ResourceKey("syspayPayment.Messagevalue", info.Lang).ToString())

            </div>

        </div>



        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("syspayPayment.buttontext")</label>

            <div class="col-sm-5">

                @NBrightTextBox(info, "genxml/lang/genxml/textbox/buttontext", "maxlength='150'", ResourceKey("syspayPayment.buttonvalue", info.Lang).ToString())

            </div>

        </div>





        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("syspayPayment.checkouttemplate")</label>

            <div class="col-sm-2">

                @TextBox(info, "genxml/textbox/checkouttemplate", "class='form-control'", "methodselection.cshtml")

            </div>

        </div>



        <div class="form-group">

            <label class="col-sm-2 control-label">Image Logo</label>

            <div class="col-sm-2">

                @DropDownList(info, "genxml/dropdownlist/imagelogo", "cyberplus.png", "cyberplus.png", "class='form-control'")

            </div>

        </div>

    </div>



    <div class="row">

        <div class="form-group">

            <div class="col-sm-2"></div>

            <div class="col-sm-5">

                <h3>@ResourceKey("syspayPayment.returndisplay")</h3>

            </div>

        </div>

        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("syspayPayment.Title")</label>

            <div class="col-sm-5">

                @NBrightTextBox(info, "genxml/lang/genxml/textbox/rtntitle", "maxlength='150'", ResourceKey("CartView.PaymentComplete", info.Lang).ToString())

            </div>

        </div>



        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("syspayPayment.Message")</label>

            <div class="col-sm-5">

                @NBrightTextArea(info, "genxml/lang/genxml/textbox/rtnmessage", "height='300' textmode='MultiLine' ", ResourceKey("Notification.checkoutsuccessmessage", info.Lang).ToString())

            </div>

        </div>



    </div>



    <div class="row">

        <div class="form-group">

            <div class="col-sm-2"></div>

            <div class="col-sm-5">

                <h3>@ResourceKey("syspayPayment.failreturndisplay")</h3>

            </div>

        </div>

        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("syspayPayment.Title")</label>

            <div class="col-sm-5">

                @NBrightTextBox(info, "genxml/lang/genxml/textbox/failrtntitle", "maxlength='150'", ResourceKey("CartView.PaymentFailed", info.Lang).ToString())

            </div>

        </div>



        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("syspayPayment.Message")</label>

            <div class="col-sm-5">

                @NBrightTextArea(info, "genxml/lang/genxml/textbox/failrtnmessage", "height='300' textmode='MultiLine' ", ResourceKey("Notification.checkoutfailmessage", info.Lang).ToString())

            </div>

        </div>



    </div>



    <div class="row">

        <div class="form-group">

            <div class="col-sm-2"></div>

            <div class="col-sm-5">

                <h3>@ResourceKey("syspayPayment.settings")</h3>

            </div>

        </div>

        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("syspayPayment.certificate")</label>

            <div class="col-sm-3">

                @TextBox(info, "genxml/textbox/certificate", "class='form-control'", "")

            </div>

        </div>



        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("syspayPayment.vads_site_id")</label>

            <div class="col-sm-3">

                @TextBox(info, "genxml/textbox/site", "class='form-control'", "")

            </div>

        </div>



        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("syspayPayment.vads_currency")</label>

            <div class="col-sm-3">

                @TextBox(info, "genxml/textbox/currency", "class='form-control'", "978")

            </div>

        </div>



        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("syspayPayment.testmode")</label>

            <div class="col-sm-3">

                @CheckBox(info, "genxml/checkbox/testmode", "")

            </div>

        </div>

    </div>



    <div class="row">

        <div class="form-group">

            <div class="col-sm-2"></div>

            <div class="col-sm-5">

                <h3>@ResourceKey("syspayPayment.processoptions")</h3>

            </div>

        </div>



        <div class="form-group">

            <label class="col-sm-2 control-label">@ResourceKey("General.DebugMode")</label>

            <div class="col-sm-5">

                <div class="dnnFormItem">

                    @CheckBox(info, "genxml/checkbox/debugmode", ResourceKey("Settings.debugmode", info.Lang).ToString())

                </div>

            </div>

        </div>

        <hr />

        <div class="form-group">

            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-3">

                @info.GetXmlProperty("genxml/debugmsg")

            </div>

        </div>

    </div>

</div>


